.phone {
  width: 350px;
  height: 720px;
  border-radius: 30px;
  background: #000;
  padding: 10px;
  box-shadow: 0 0 0 4px #333;
}

.phone-header {
  height: 40px;
  color: white;
  text-align: center;
  font-weight: 600;
  line-height: 40px;
  font-size: large;
}

.phone-screen {
  background: #e5ddd5;
  height: calc(100% - 80px);
  padding: 12px;
  overflow-y: auto;
  border-radius: 10px;
}

.phone-footer {
  height: 40px;
  background: #111;
  border-radius: 0 0 20px 20px;
  color: #888;
  display: flex;
  align-items: center;
  place-content: center;
  padding-top: 12px;
  font-size: large;
}

.bubble {
  max-width: 98%;
  padding: 10px 12px;
  border-radius: 16px;
  font-size: 14px;
  position: relative;
  font-size: large;
}

.outgoing {
  background: #dcf8c6;
  margin-left: auto;
  border-bottom-right-radius: 4px;
}

.time {
  font-size: 11px;
  color: #555;
  text-align: right;
  margin-top: 4px;
}
/* agrega sobre el css anterior */

.editable {
  cursor: text;
  outline: none;
}

.editable:focus {
  box-shadow: 0 0 0 2px rgba(0, 136, 204, 0.4);
}
.message-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-date {
  text-align: right;
  font-size: 15px;
  color: #999;
  margin-top: 2px;
}
