/* Transición para el contenedor principal */
.table-container {
  transition: all 0.5s ease-in-out;
}

/* Forzamos a que el cuerpo de la tabla de Ant Design herede la transición */
.table-container .ant-table-body {
  transition: max-height 0.5s ease-in-out !important;
}

/* Si usas el scroll dinámico de Ant Design, ellos manejan max-height o height */
.table-container.logs-open .ant-table-body {
  max-height: 400px !important;
}

.table-container.logs-closed .ant-table-body {
  max-height: 700px !important;
}

.panel-actividad {
  background-color: #f5f7fa; /* Tu colorBgLayout */
  border-top: 1px solid #e5e7eb;
  padding: 16px;
  transition: all 0.5s ease;
}
